*{
    margin: 0;
    padding: 0;

box-sizing: border-box;
}
.card{
    display:grid;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 14px;
    flex: 1 1 200px;

    flex-direction: column;
    grid-area: card;
}
.products{
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
    
}

.thumb img{
    width: 100%;
    height: 100px;
    border-radius: 8px;
    object-fit:cover;
}

.card h2{
    margin: 0 0 10px 0;
    font-size: 18px
}

p.desc{
    margin: 0 0 10px 0;
    color: #333;
    flex: auto;
}

.price{
    font-weight: bold;
    margin: 0 0 10px 0;
}


.btn{
    background-color: white;
    border: 2px solid #111;
    border-radius: 8px;
    padding: 10px 12px;
    cursor: pointer;

    margin-top: auto;
}

.btn:hover{
    background-color: #111;
    color: white;
    border-color: #111;
}
.btn-group{
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: auto;
}

.menu{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: black;
    background-color: white;   
}

.container{
    display: grid;

    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7,100px);
    gap: 10px;

    grid-template-areas: 
      "header header header header header"
      ". nav nav nav ."
        ". main main main box1"
        ". main main main box2"
        ". main main main box3"
        ". box4 box5 box6 ."
        "footer footer footer footer footer"
        "footer footer footer footer footer"
    ;
}

header{
    background-color: aqua;
    grid-area: header;
}

main{
    background-color: antiquewhite;
    grid-area: main;
}

nav{
    background-color: blue;
    grid-area: nav;
}

footer{
    background-color: azure;
    grid-area: footer;
}

.box1{
    background-color: darkgray;
    grid-area: box1;
}
.box2{
    background-color: darkgray;
    grid-area: box2;
}
.box3{
    background-color: darkgray;
    grid-area: box3;
}
.box4{
    background-color: darkgray;
    grid-area: box4;
}
.box5{
    background-color: darkgray;
    grid-area: box5;
}
.box6{
    background-color: darkgray;
    grid-area: box6;
}

@media (max-width: 768px){
    .card{
        background-color: white;
        border: 2px solid #ddd;
        border-radius: 12px;
        padding: 14px;
        flex: 1 100px;
        display: flex;
        flex-direction: column;
        grid-area: card;}
    
    .container{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(20,100px);

    grid-template-areas: 
      "header "
        "nav"
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "box1 "
        "box2 "
        "box3 "
        "box4 "
        "box5 "
        "box6 "
        "footer"

    ;

}

}
