.container{
    display: grid;
    grid-template-columns:(4);
    grid-template-rows:(5);
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    gap:10px;
    grid-template-areas:
    "box1 box2 box2 box2"
    "box3 box3 box3 box7"
    "box3 box3 box3 box7"
    "box4 box5 box6 box7"
    "box8 box8 box8 box8";
    font:message-box;

    font-size: larger;
    

}
.box{
    border-start-end-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border: 2px solid black;
    background-color: rgba(255, 134, 134, 0.233);
}
.box1{
    grid-area: box1;
    text-align: center;
    line-height: 100px;
}
.box2{
    grid-area: box2;
    text-align: center;
    line-height: 100px;
}
.box3{
    grid-area: box3;
    text-align: center;
    line-height: 200px;
}
.box4{
    grid-area: box4;
    text-align: center;
    line-height: 100px;
}

.box5{
    grid-area: box5;
    text-align: center;
    line-height: 100px;
}

.box6{
    grid-area: box6;
    text-align: center;
    line-height: 100px;
}

.box7{
    grid-area: box7;
    text-align: center;
    line-height: 300px;
}

.box8{
    grid-area: box8;
    text-align: center;
    line-height: 100px;
}

@media (max-width: 768px){
    .box3{
        line-height: 200px;

    }
    .box7{
        line-height: 100px;
    }
    .container{
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(10,100px);

        grid-template-areas: 
        "box1"
        "box2"
        "box3"
        "box3"
        "gap"
        "box4"
        "box5"
        "box6"
        "box7"
        "box8"
    ;
}

}