.container{
    display: grid;

    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,100px);
    gap: 10px;

    grid-template-areas: 
      "header header header header header"
        "nav main main main box1"
        "nav main main main box2"
        "nav main main main box3"
        ". box4 box5 box6 ."
        "footer footer footer footer footer"
    ;
}

header{
    background-color: aqua;
    grid-area: header;
}

main{
    background-color: antiquewhite;
    grid-area: main;
}

nav{
    background-color: blue;
    grid-area: nav;
}

footer{
    background-color: azure;
    grid-area: footer;
}

.box1{
    background-color: darkgray;
    grid-area: box1;
}
.box2{
    background-color: darkgray;
    grid-area: box2;
}
.box3{
    background-color: darkgray;
    grid-area: box3;
}
.box4{
    background-color: darkgray;
    grid-area: box4;
}
.box5{
    background-color: darkgray;
    grid-area: box5;
}
.box6{
    background-color: darkgray;
    grid-area: box6;
}

@media (max-width: 768px){
    .container{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,100px);

    grid-template-areas: 
      "header "
        "nav"
        "main "
        "main "
        "main "
        "box1 "
        "box2 "
        "box3 "
        "box4 "
        "box5 "
        "box6 "s
        "footer"
    ;
}

}